<ion-header class="ion-no-border">
  <ion-toolbar [color]="color ? color : 'primary'">
    <ion-buttons  slot="start">
      <!--cerrar modal-->
      <ion-button (click)="dismisModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
     <!--boton de regreso--> 
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"> </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="title" [ngClass]="{'ion-text-center': centerTitle}">
      {{title}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="setTheme(false)" *ngIf="darkMode.value">
        <ion-icon name="sunny-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="setTheme(true)" *ngIf="!darkMode.value">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>